
/*------------------------------------------------------------------
    about Section styles
-------------------------------------------------------------------*/

.about__block {
    img {
        display: block;
        width: 88%;
        height: auto;
    }
    p {
        width: 88%;
        margin-top: 40px;
        color: #000;
        font-size: 18px;
        line-height: 40px;
        font-weight: 300;
    }
}