/*------------------------------------------------------------------
# [Color codes]

# Default Theme Color ( logo, menu active and hover, buttons, slider dots ans arrows etc...) : #BDA17F
# Dark grey ( body, header, titles ): #303030
# Light gray (subtitle, links, date, iiner wrap text, blog p text ) : #909090
# Super Light gray (borders and other ) : #dfdfdf

Default Theme Color schemes:

# Gold : #BDA17F
# Coral : #DC555E
# Orange : #FFA84E
# Aqua : #5BC7BD
# Blue : #4B8AB1
# Violet : #414B82
------------------------------------------------------------------*/


//  Default Theme Color
$defaultThemeColor: #BDA17F;

// Dark grey
$darkGrayColor: #303030;

// Light gray 
$lightGrayColor: #909090;

//Super Light gray 
$superlightGrayColor: #dfdfdf;

// White Color
$whiteColor: #fff;