
/*------------------------------------------------------------------
    FORMS styles
-------------------------------------------------------------------*/

.input-group {
    position:relative;
    height: 40px;
    width:100%;
    margin-bottom: 10px;
    input,
    textarea{
        font-size: 14px;
        line-height:40px;
        font-weight: 300;
        resize: none;
        -webkit-appearance: none;
        box-shadow:none;
        &::-webkit-input-placeholder {color: #9B9B9B;}
        &:-moz-placeholder {color: #9B9B9B;}
        &::-moz-placeholder {color: #9B9B9B;}
        &:-ms-input-placeholder {color: #9B9B9B;}

        &:focus::-webkit-input-placeholder {opacity: .4;}
        &:focus::-moz-placeholder          {opacity: .4;}
        &:focus:-moz-placeholder           {opacity: .4;}
        &:focus:-ms-input-placeholder      {opacity: .4;}
    }
    .form-control {
        height:40px;
        padding-left: 0;
        line-height:40px;
        border:none;
        border-bottom: 1px solid #9B9B9B;
        border-radius:0px !important;
        background-color: transparent;
        &:focus {
            border-color: #0264D7;
            box-shadow:none;
            outline: 0;
        }
    }

    // valid error styles
    .field-error {
        border: none !important;
        color: red !important;
        font-size: 0.8em !important;
        font-weight: 300;
        left: 0;
        padding: 2px 0;
        position: absolute;
        top: 100%;
        line-height: 1em;
    }

    //valid success styles
    .field-success {
        border: none !important;
        color: green !important;
        font-size: 0.8em !important;
        font-weight: 300;
        left: 0;
        padding: 2px 0;
        position: absolute;
        top: 100%;
        line-height: 1em;
    }
}