
/*------------------------------------------------------------------
    Services section styles
-------------------------------------------------------------------*/

.services__block {
    overflow: inherit;
    text-align: center;
    text-transform: uppercase;
    background-color: $whiteColor;
    .services__block__wrap {
        margin:0 auto;
    }
    
    .services__block__col {
        margin-top: 50px;
        .services__block__col__img {
            img {
                display: block;
                width: 120px;
                margin: auto;
            }
        }
        p  {
            max-width: 300px;
            margin: 30px auto 0;
            font-size: 18px;
            font-weight: 300;
            text-transform: none;
            color:#000;
        }
    }
    
}